<ul id="IdlistCharacter">
	<div th:if="${category != null && category.idCategory != null}">
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=A'}"
			title="A">A</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=b'}"
			title="B">B</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=c'}"
			title="C">C</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=d'}"
			title="D">D</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=e'}"
			title="E">E</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=f'}"
			title="F">F</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=g'}"
			title="G">G</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=h'}"
			title="H">H</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=i'}"
			title="I">I</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=j'}"
			title="J">J</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=k'}"
			title="K">K</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=l'}"
			title="L">L</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=m'}"
			title="M">M</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=n'}"
			title="N">N</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=o'}"
			title="O">O</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=p'}"
			title="P">P</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=q'}"
			title="Q">Q</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=r'}"
			title="R">R</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=s'}"
			title="S">S</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=t'}"
			title="T">T</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=u'}"
			title="U">U</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=v'}"
			title="V">V</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=w'}"
			title="W">W</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=x'}"
			title="X">X</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=y'}"
			title="Y">Y</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=z'}"
			title="Z">Z</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+${category.idCategory}+'&name=@'}"
			title="@">@</a></li>
	</div>
	<div th:if="${category == null}">
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=A'}" title="A">A</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=b'}" title="B">B</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=c'}" title="C">C</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=d'}" title="D">D</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=e'}" title="E">E</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=f'}" title="F">F</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=g'}" title="G">G</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=h'}" title="H">H</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=i'}" title="I">I</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=j'}" title="J">J</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=k'}" title="K">K</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=l'}" title="L">L</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=m'}" title="M">M</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=n'}" title="N">N</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=o'}" title="O">O</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=p'}" title="P">P</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=q'}" title="Q">Q</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=r'}" title="R">R</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=s'}" title="S">S</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=t'}" title="T">T</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=u'}" title="U">U</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=v'}" title="V">V</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=w'}" title="W">W</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=x'}" title="X">X</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=y'}" title="Y">Y</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=z'}" title="Z">Z</a></li>
		<li><a style="text-decoration: none;"
			th:href="@{'/category/detail/glossary?id='+1+'&name=@'}" title="@">@</a></li>
	</div>
</ul>