<!-- show dialog news -->
<div id="tut_detailx" class="tut_detailx boxed-wrap clearfix">
		<div class="boxed-content-wrapper clearfix">
			<div class="inner" style="margin-top: 20px;">
				<div class="main_container">
					<div class="main-col" id="main_container">
						<div id="shortlist_wrapper">
							<div id="shortlist">
								<select class="form-control"
									style="background: #912f2f; color: #fff">
								</select>
							</div>
						</div>
						<input type="hidden" data-id="" data-type="2"
							value="/ajax/related/tut?group=40&cate=11&series=27"
							id="related_loader" />
						<div id="show_related_post_here">
							<div class='ml-rcm' rc-type='job' rc-layout='bjobs' rc-li='3'
								rc-for='url' rc-title='Những việc làm hấp dẫn'
								token-site='QpoRzXsUUp6TxscrR2hBkKmQoNs7ZMOOMge9hjaxF6ijLK4ncw3FWhyw9RKnruqbA1S6D3ZKpc2LlI%2BMHNv7yQ%3D%3D'
								animate="off"></div>
							<div style="margin-top: 10px; margin-bottom: 20px"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div id="related_wrapper" style="">
			<div class="relative">
				<span class="close">x</span>
				<div class="widget momizat-reviews">
					<div class="widget-head">
						<h3 class="widget-title">
							<span>Bài mới nhất</span>
						</h3>
					</div>
					<div class="mom-posts-widget" id="show_related_ajax">
						<div class="mpw-post">
							<div class="post-img main-sidebar-element">
								<a
									href="https://freetuts.net/su-kien-click-trong-javascript-4013.html"
									title="Bắt sự kiện click trong Javascript"> <img
									src="https://freetuts.net/upload/tut_series/images/2015/12/14/27/javascript-can-ban.gif"
									alt="Bắt sự kiện click trong Javascript">
								</a>
							</div>
							<div class="details has-feature-image">
								<h4>
									<a
										href="https://freetuts.net/su-kien-click-trong-javascript-4013.html"
										title="Bắt sự kiện click trong Javascript">Bắt sự kiện
										click trong Javascript</a>
								</h4>
							</div>
						</div>

						<div class="mpw-post">
							<div class="post-img main-sidebar-element">
								<a
									href="https://freetuts.net/function-trong-javascript-274.html"
									title="Function trong Javascript - cách tạo hàm và gọi hàm trong JS">
									<img
									src="https://freetuts.net/upload/tut_post/images/2015/01/10/274/ham-va-tao-ham-function-trong-javascript.gif"
									alt="Function trong Javascript - cách tạo hàm và gọi hàm trong JS">
								</a>
							</div>
							<div class="details has-feature-image">
								<h4>
									<a
										href="https://freetuts.net/function-trong-javascript-274.html"
										title="Function trong Javascript - cách tạo hàm và gọi hàm trong JS">Function
										trong Javascript - cách tạo hàm và gọi hàm trong JS</a>
								</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="width: 230px; height: 190px; margin: 10px auto 0px auto;">
				<div style="margin-bottom: 20px">
					<ins class="goodads" style="display: block" data-ad-slot="FFDW"
						data-ad-format="auto" data-full-width-responsive="true"></ins>
				</div>
			</div>
		</div>
	</div>