<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav id="navigation" itemtype="http://schema.org/SiteNavigationElement"
		itemscope="itemscope" role="navigation"
		class="dd-effect-slide navigation">
		<div class="navigation-inner fuckinntrer">
			<div class="inner">
				<ul id="menu-main-menu"
					class="list-category main-menu mom_visibility_desktop">
					<li id="menu-item-87"
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home mom_default_menu_item menu-item-iconsOnly menu-item-depth-0"><a
						th:href="@{/}" title="no title"> <i
							class="fa fa-home icon_only" aria-hidden="true"></i><span
							class="icon_only_label"></span></a></li>
				</ul>
				<div class="device-menu-wrap mom_visibility_device">
					<div id="menu-holder" class="device-menu-holder">
						<i class="fa fa-reorder mh-icon"></i> <span
							class="the_menu_holder_area"><i class=" dmh-icon"></i>Menu</span><i
							class="mh-caret"></i>
					</div>
					<ul class="device-menu mom_visibility_device" id="main_menu_mobile">
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</nav>
</body>
</html>
