<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- Prior to Servlet 3.0 define either an error-code or an exception-type 
		but not both -->
	<error-page>
		<!-- Define error page to react on Java exception -->
		<exception-type>java.lang.Throwable</exception-type>
		<!-- The location of the resource to display in response to the error will 
			point to the Spring MVC handler method -->
		<location>/error</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
</web-app>