<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Quản lý học viên</title>
<!--===============================================================================================-->
<link th:replace="./fragments/library :: script" />
<!--===============================================================================================-->
<link th:replace="./fragments/library :: link" />
<!--===============================================================================================-->
<script th:src="@{/static/js/toastr.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/static/js/pagination.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/static/js/paginationRequest.js}"></script>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/static/css/list.css}">
<!--===============================================================================================-->
<script th:src="@{/static/js/swal.js}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<style>
#clickOk:hover, #clickClose:hover, #clickDelete:hover {
	transition: 1s;
	background-color: #C8C8C8;
	padding-top: 15px;
}
</style>
<script>
	var domainFronEnd = 'http://localhost:8080';
	var domain = 'http://localhost:8762';
	var token = '[[${session.token}]]';
	$(document).ready(function() {
				var getUrlRequest = '[[${getUrlRequest}]]';
				//this function to excute pagination and return by tag #page
				if(getUrlRequest != null){
					excuteListPaginationWithRequest('[[${registrationPage.totalPages}]]', '[[${pageChoose}]]', "/demo/registration/list?page=","&urlRequest="+getUrlRequest);
				}else{
					excuteListPagination('[[${registrationPage.totalPages}]]', '[[${pageChoose}]]', "/demo/registration/list?page=");
				}
				
				$("#btnSearch").click(function() {
					var urlRequest = domainFronEnd+"/demo/registration/list?page=0";
					
					var paramRequest = "";
					var nameCustomerSearch = $("#nameCustomerSearch").val();
					var phoneSearch = $("#phoneSearch").val();
					var typePaySearch = $("#typePaySearch").val();
					var dateFromSearch = $("#dateFromSearch").val();
					var dateToSearch = $("#dateToSearch").val();
					
					var checkDolar = false;
					if(nameCustomerSearch != null && nameCustomerSearch.length >= 3){
						paramRequest += "nameCustomer=" + nameCustomerSearch.replace(" ","-");
						checkDolar = true;
					}
					
					if(phoneSearch != null && phoneSearch.length >= 3){
						if(checkDolar == true){
							paramRequest += "$phone="+phoneSearch;
						}else{
							paramRequest += "phone="+phoneSearch;
							checkDolar = true;
						}
					}
					
					if(typePaySearch != 'NONE'){
						if(checkDolar == true){
							paramRequest += "$typePay="+typePaySearch;
						}else{
							paramRequest += "typePay="+typePaySearch;
							checkDolar = true;
						}
					}
					
					if(dateFromSearch != null && dateFromSearch.length >= 1){
						if(checkDolar == true){
							paramRequest += "$dateCreated="+dateFromSearch;
							paramRequest += "$dateCreated="+dateToSearch;
						}else{
							paramRequest += "dateCreated="+dateFromSearch;
							paramRequest += "$dateCreated="+dateToSearch;
							checkDolar = true;
						}
					}
					if(paramRequest != null && paramRequest.length>=1){
						urlRequest = urlRequest + "&urlRequest="+paramRequest;
					}else{
					
					}
					//alert(urlRequest)
					window.location.href =urlRequest;
					return false;
				});
			});
	//excute delete by swal
	function btnXoa(data) {
		//excuteSwalDelete(token,domain+'/api/v1/account/delete?username='+data,'Xóa tài khoản');
	}
	function btnClickStatus(status,idRegistration) {
		var token = '[[${session.token}]]';
		
		Swal.fire({
			icon: 'warning',
			title: 'Are you sure?',
			showDenyButton: true,
			showCancelButton: true,
			confirmButtonText: `Confirm`,
			denyButtonText: `Declined`
		}).then((result) => {
		if (result.isConfirmed) {
			var item = {};
			item['status'] = status
			
			//cal ajax
			$.ajax({
				type : 'PUT',
				contentType : "application/json; charset=utf-8",
				beforeSend : function(request) {
					request.setRequestHeader("AccessToken", token);
				},
				url : 'http://localhost:8762/api/v1/registration/update?id='+idRegistration,
				data : JSON.stringify(item),
				/*contentType: false, //Cần thiết
				processData: false, //Cần thiết*/
				success : function(e) {
					
					dialogSuccess(e.message)
					setTimeout(function() { // wait 3 seconds and reload
						window.location.reload(true);
					}, 1000);
				},
				error : function(e) {
					var listErrorMessages = e.responseJSON.listErrorMessages;
					dialogError(listErrorMessages[0].message);
				}
			});
			
		} else if (result.isDenied) {
		}})
		
		
	}
</script>
<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
	  autoUpdateInput: false,
      locale: {
          cancelLabel: 'Clear'
      }
  });
  $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('YYYY-MM-DD') + '   to   ' + picker.endDate.format('YYYY-MM-DD'));
  	  $("#dateFromSearch").val(picker.startDate.format('YYYY-MM-DD'));
  	  $("#dateToSearch").val(picker.endDate.format('YYYY-MM-DD'));
  });

  $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
  });
});
</script>
<style>
#formSearch {
	width: 900px;
	margin: auto;
	border: 1px solid white;
}

#main {
	width: 40%;
	height: 50vh;
	text-align: center;
	margin: auto;
}

#formSearch table td {
	word-wrap: break-word; /* All browsers since IE 5.5+ */
	overflow-wrap: break-word; /* Renamed property in CSS3 draft spec */
}

#formSearch {
	margin-left: 20px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 10px;
}

#formSearch button, #formSearch a, #formSearch input {
	width: 100%;
}

.row {
	padding-right: 24px;
	text-align: center;
}

#myModal p {
	margin-top: 20px;
}
</style>
</head>
<body id="home"
	class=" page page-template-default right-sidebar singular fade-imgs-in-appear time_in_twelve_format one-side-wide both-sidebars wpb-js-composer js-comp-ver-4.9 vc_responsive no-js"
	itemtype="http://schema.org/WebPage">
	<div class="boxed-wrap clearfix">
		<div th:replace="./fragments/headerAdmin :: #header-wrapper"></div>
		<div
			th:replace="./fragments/navigationAdmin :: ChooseNavigation(choose='manageRegistration')"></div>
	</div>
	<div id="main">
		<div class="fof">
			<h2>Quản lý học viên</h2>
			<!-- "idRegistration": 1,
                "typeRegistration": "COURSE",
                "status": true,
                "nameCustomer": "binz",
                "phone": "0708821227",
                "email": "nguyendangnahqya99@gmail.com",
                "typePay": "MOMO",
                "idCourse": 1,
                "titleCourse": "Thiết kế hiệu ứng với Javascript và illustrator aa",
                "dateCreated": "2021-06-28T16:07:02.206+00:00",
                "urlfacebook": null-->

			<div id="formSearch">
				<div class="row">
					<input type="submit" value="Bộ lọc" id="" 
							class="form-control" 
									data-toggle="modal" data-target="#myModal" 
							/>
				</div>
				<div class="row">
					<a class="btn btn-danger" th:href="@{'/registration/list'}">Reset</a>
				</div>
			</div>
			
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Bộ lọc</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- Modal body -->
						<div class="modal-body">
							<p>Tìm theo tên học viên</p>
							<input id="nameCustomerSearch"  type="text"
								class="form-control" placeholder="Nhập tên học viên cần tìm"> 
							<p>Tìm theo số điện thoại</p>
							<input id="phoneSearch"  type="text"
								class="form-control" placeholder="Nhập số điện thoại cần tìm"> 
							<p>tìm theo hình thức thanh toán</p>
							<br> <select id="typePaySearch" class="form-control">
								<option value="NONE">Tất cả</option>
								<option value="BANK">Thanh toán qua bank</option>
								<option value="POSTOFFICE">Thanh toán qua bưu điện</option>
								<option value="PAYPAL">Thanh toán qua paypal</option>
								<option value="MOMO">Thanh toán qua momo</option>
							</select>
							<p>tìm theo ngày tạo</p>
							<input type="text" name="daterange"  placeholder="Tìm theo ngày" />
							<input type="hidden" name="daterange" id="dateFromSearch" placeholder="Tìm theo ngày" />
							<input type="hidden" name="daterange" id="dateToSearch" placeholder="Tìm theo ngày" />
							
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">
							<a href="#" id="btnSearch" class="btn btn-success">Xác nhận</a>
							<a href="#" id="btnXoaRong" class="btn btn-primary">Xóa rỗng</a>
							<a href="#" class="btn btn-danger" data-dismiss="modal">Thoát</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Tên học viên</th>
					<th>Số điện thoại</th>
					<th>Email</th>
					<th>hình thức thanh toán</th>
					<th>tên khóa học</th>
					<th>ngày tạo</th>
					<th>chức năng</th>
				</tr>
			</thead>
			<tbody th:each=" registration : ${registrationPage.content}">
				<tr>
					<td th:utext="${registration.nameCustomer}"></td>
					<td th:utext="${registration.phone}"></td>
					<td th:utext="${registration.email}"></td>
					<td>
						<div th:if="${registration.typePay} == MOMO">Thanh toán bằng
							momo</div>
						<div th:if="${registration.typePay} == POSTOFFICE">Thanh
							toán bằng bưu điện</div>
						<div th:if="${registration.typePay} == PAYPAL">Thanh toán
							bằng paypal</div>
						<div th:if="${registration.typePay} == BANK">Thanh toán bằng
							ngân hàng</div>
					</td>
					<td></td>
					<td th:text="${registration.dateCreated}"></td>
					<td><a href="#" th:if="${registration.status == true}"
						class="btn btn-primary" data-toggle="modal"
						th:data-target="|#myModel${registration.idRegistration}|"> Xem
							chi tiết</a> <a
						th:onclick="|btnClickStatus(true,'${registration.idRegistration}')|"
						href="#" id="clickOk" th:if="${registration.status == false}">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
								width="30" height="30" viewBox="0 0 172 172"
								style="fill: #000000;">
									<g fill="none" fill-rule="nonzero" stroke="none"
									stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
									stroke-miterlimit="10" stroke-dasharray=""
									stroke-dashoffset="0" font-family="none" font-weight="none"
									font-size="none" text-anchor="none"
									style="mix-blend-mode: normal">
									<path d="M0,172v-172h172v172z" fill="none"></path>
									<g fill="#2ecc71">
									<path
									d="M145.43294,37.93294l-80.93294,80.93295l-30.76628,-30.76628l-10.13411,10.13411l40.90039,40.90039l91.06706,-91.06705z"></path></g></g></svg>

					</a> <a
						th:onclick="|btnClickStatus(false,'${registration.idRegistration}')|"
						href="#" id="clickClose" th:if="${registration.status == false}">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
								width="30" height="30" viewBox="0 0 172 172"
								style="fill: #000000;">
									<g fill="none" fill-rule="nonzero" stroke="none"
									stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
									stroke-miterlimit="10" stroke-dasharray=""
									stroke-dashoffset="0" font-family="none" font-weight="none"
									font-size="none" text-anchor="none"
									style="mix-blend-mode: normal">
									<path d="M0,172v-172h172v172z" fill="none"></path>
									<g fill="#e74c3c">
									<path
									d="M40.13333,22.93333c-1.46702,0 -2.93565,0.55882 -4.05365,1.67969l-11.46667,11.46667c-2.24173,2.24173 -2.24173,5.87129 0,8.10729l41.81302,41.81302l-41.81302,41.81302c-2.24173,2.24173 -2.24173,5.87129 0,8.10729l11.46667,11.46667c2.24173,2.24173 5.87129,2.24173 8.10729,0l41.81302,-41.81302l41.81302,41.81302c2.236,2.24173 5.87129,2.24173 8.10729,0l11.46667,-11.46667c2.24173,-2.24173 2.24173,-5.87129 0,-8.10729l-41.81302,-41.81302l41.81302,-41.81302c2.24173,-2.236 2.24173,-5.87129 0,-8.10729l-11.46667,-11.46667c-2.24173,-2.24173 -5.87129,-2.24173 -8.10729,0l-41.81302,41.81302l-41.81302,-41.81302c-1.12087,-1.12087 -2.58663,-1.67969 -4.05365,-1.67969z"></path></g></g></svg>
					</a></td>

					<div class="modal fade"
						th:id="|myModel${registration.idRegistration}|">
						<div class="modal-dialog">
							<div class="modal-content">
								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title">Thông tin chi tiết</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								<!-- Modal body -->
								<div class="modal-body">
									<p>id</p>
									<input id="name" th:value="|${registration.idRegistration}|"
										type="text" class="form-control" readonly="true">

									<p>hình thức học</p>
									<input id="typeRegistration"
										th:value="|${registration.typeRegistration}|" type="text"
										class="form-control" readonly="true">

									<p>tình trạng</p>
									<div th:if="${registration.status == true}">
										<input id="status" value="kích hoạt" type="text"
											class="form-control" readonly="true">
									</div>

									<div th:if="${registration.status == false}">
										<input id="status" value="chưa kích hoạt" type="text"
											class="form-control" readonly="true">
									</div>

									<p>tên khách hàng</p>
									<input id="nameCustomer"
										th:value="|${registration.nameCustomer}|" type="text"
										class="form-control" readonly="true">

									<p>số điện thoại</p>
									<input id="phone" th:value="|${registration.phone}|"
										type="text" class="form-control" readonly="true">

									<p>email</p>
									<input id="email" th:value="|${registration.email}|"
										type="text" class="form-control" readonly="true">

									<p>link facebook</p>
									<input id="as"
										th:value="|${registration.urlfacebook == null ? 'không có link' : registration.urlfacebook}|"
										type="text" class="form-control" readonly="true">

									<p>Hình thức thanh toán</p>
									<div th:if="${registration.typePay} == MOMO"
										style="color: white; background-color: gray;">Thanh toán
										bằng momo</div>
									<div th:if="${registration.typePay} == POSTOFFICE">Thanh
										toán bằng bưu điện</div>
									<div th:if="${registration.typePay} == PAYPAL">Thanh toán
										bằng paypal</div>
									<div th:if="${registration.typePay} == BANK">Thanh toán
										bằng ngân hàng</div>

									<p>Mã khóa học</p>
									<input id="idCourse" 
									th:if="${registration.listComboCourse != null && registration.listComboCourse.size() == 1}"
									th:value="|${registration.listComboCourse[0]}|"
										type="text" class="form-control" readonly="true">

									<p>Tên khóa học</p>
									<input id="titleCourse"
										th:if="${registration.listComboCourse != null && registration.listComboCourse.size() == 1}"
										 type="text"
										class="form-control" readonly="true">

									<p>Ngày tạo</p>
									<input id="dateCreated"
										th:value="|${registration.dateCreated}|" type="text"
										class="form-control" readonly="true">
								</div>
								<!-- Modal footer -->
								<div class="modal-footer">
									<a href="#" class="btn btn-danger" data-dismiss="modal">Thoát</a>
								</div>
							</div>
						</div>
					</div>
				</tr>
			</tbody>
		</table>
		<div id="page"></div>
	</div>
	<div th:replace="./fragments/footer :: #footer_wrapper"></div>
</body>
</html>
