<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Đăng ký khóa học thành công</title>
<!--===============================================================================================-->
<link th:replace="fragments/library :: script" />
<!--===============================================================================================-->
<link th:replace="fragments/library :: link" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/static/css/error.css}">
</head>
<body id="home"
	class=" page page-template-default right-sidebar singular fade-imgs-in-appear time_in_twelve_format one-side-wide both-sidebars wpb-js-composer js-comp-ver-4.9 vc_responsive no-js"
	itemtype="http://schema.org/WebPage">
	<div class="boxed-wrap clearfix">
		<div th:replace="fragments/header :: #header-wrapper"></div>
		<div th:replace="fragments/navigation :: #navigation"></div>
	</div>
	<div id="main">
		<div class="fof">
			<h1>Đăng ký Khóa Học thành công</h1>
			<br>
			<a style="font-size:20px;" th:href="@{/}">Quay lại trang chủ</a>
		</div>
	</div>
	<div th:replace="fragments/footer :: #footer_wrapper"></div>
</body>
</html>
